.food-image img{
    width: 286px;
    height: 289px;
}
.food-detail{
border: 2px solid black;
}
.order-list{
    width: 100%;
    background-color: rgb(116, 121, 119);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.order-list:hover{
    background-color: rgba(105, 163, 154, 0.76);
} 